{% extends 'authenticate/base.html' %}
{% comment %} Pull through base template {% endcomment %}

{% block content %}
<style>
    h1 {
        font-size: 24px;
        margin-bottom: 40px;
    }
</style>
<body>
<h1>Change Password</h1>


  <form method="POST" actin="{% url 'change_password' %}">
    {% csrf_token %}
    {% comment %} Form to update password {% endcomment %}

    {% if form.errors %}
    {% comment %} Show password form errors if present {% endcomment %}

    <div class="alert alert-warning alert-dismissable" role="alert">
      <button class="close" data-dismiss="alert">
            <small><sup>x</sup></small>
          </button>
      <p>Your Form Has Errors...</p>

      {% for field in form %}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}

      {% endfor%}

    </div>
    {% endif %}

    {{ form.as_p }}

    <input type="submit" value="Change Password" class="btn btn-secondary">
  </form>
<body>
{% endblock %}
