<style>
    h1, h2, div {
    color: white;
    }
    h2 {
    font-size: 5em;
    }
    .btn-primary {
    background-color: #FFB6C1;
    }
</style>

{% extends 'authenticate/base.html' %}
{% comment %} Pull through base template {% endcomment %}

{% block content %}
<body>
  <div class="col-md-10">
  <br>
  <br>
  <h1>NightNotes</h1>
  <h2>Sleep. Track your dreams. Repeat.</h2>
  <div>
  Keep notes on all your dreams with this handy tool.
  <br>
  <br>
  <a type="button" class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Try it now</a>
  <br>
  </div>
  </div>
<body>
{% endblock %}
