{% extends 'authenticate/base.html' %}
{% comment %} Pull through base template {% endcomment %}

{% block content %}
<style>
    {% load static %}
    body {
    background: url('{% static 'authenticate/black-sky.jpg' %}');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
h1 {
    font-size: 24px;
    margin-bottom: 40px;
}
</style>
<body>
<h1 class="text-center">Edit Profile</h1>

<div class="col-md-4 offset-md-4">
  <form method="POST" actin="{% url 'edit_profile' %}">
    <div class="col-md-5">
    {% csrf_token %}
    {% comment %} Show edit profile form {% endcomment %}

    {% if form.errors %}
    {% comment %} Show errors in form completion, if present {% endcomment %}

    <div class="alert alert-warning alert-dismissable" role="alert">
      <button class="close" data-dismiss="alert">
            <small><sup>x</sup></small>
          </button>
      <p>Your Form Has Errors...</p>
      {% for field in form %}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}

      {% endfor%}

    </div>
    {% endif %}

    {{ form.as_p }}
    </div>
    <div class="container">
		  <div class="row">
		    <div class="col">
            <br>
		      <input type="submit" value="Update Profile" class="btn btn-primary btn-lg">
					<br>
					<br>
				</div>
			</div>
  </form>
  <p><small><a href="{% url 'change_password' %}">Click here</a> to change your password.</small></p>

</div>
</body>
{% endblock %}
