{% extends 'authenticate/base.html' %}
{% comment %} Pull through base template {% endcomment %}

{% block content %}
<style>
.btn {
    margin-bottom: 300px;
}
</style>
<body>
  <br>
  <br>
  <h1>Welcome, {{ user.first_name }}! 👋</h1>
  <br>
  <div>
    <p>And thanks for signing up! You're just one step away from tracking your dreams.
    <br>
    Just log in to get started</p>
  <br>
  <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log in now</a>
  </div>
</body>
{% if user.is_authenticated %}

{% endif %}

{% endblock %}
